html, body {
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 396165 */
  src: url('https://at.alicdn.com/t/font_396165_sa7qjmxcu1ozjjor.eot');
  src: url('https://at.alicdn.com/t/font_396165_sa7qjmxcu1ozjjor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_396165_sa7qjmxcu1ozjjor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_396165_sa7qjmxcu1ozjjor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_396165_sa7qjmxcu1ozjjor.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont';
}

body {
	font-size: 14px;
	font-family: "Microsoft Yahei", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	background: #000;
}

* {
	box-sizing: border-box;
}

a:hover, a:focus {
	color: #666;
	outline: 0 none;
	text-decoration: none;
}

:focus {
	outline: none;
}

::-ms-clear,
::-ms-reveal {
	display: none;
}

input::-ms-clear {
	display: none;
}

img {
	border: none;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.tc {
	text-align: center;
}

.hide {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.w275 {
	width: 275px;
}

.w380 {
	width: 380px;
}

.w168 {
	width: 168px;
}

.pop-img {
	display: block;
	width: 100%;
}

.vh {
	visibility: hidden;
}

.gpu {
	webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 25px;
    top: 0px;
    /* margin-top: -139px; */
    list-style-type: none;
    z-index: 1180;
    white-space: nowrap;
}
@media screen and (max-width: 1030px) {
	#menu {
		left: 150px;
	}
}

#menu li {
    padding-left: 35px;
    position: relative;
    margin: 0;
    font-size: 15px;
    display: inline-block;
    color: #fff;
}

#menu li + li {
	margin-top: 27px;
}

#menu li + li:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 32px;
}

#menu a {	color: #fff;

	border-radius: 50%;
	/*width: 18px;*/
	height: 18px;
	text-decoration: none;
}

#menu span {
	display: none;
	position: absolute;
	right: 33px;
	top: -13px;
	padding: 10px 35px;
	border-radius: 5px;
	white-space: nowrap;
	color: #fff;
	line-height: 1;
	/*background: url(https://trumpchi.gacmotor.com/ge3/pc/images/menu_bg.png);*/
}

#menu span:before {

}

#menu .active a {
	color: #D31F2A!important;
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	opacity: 1;
}

#menu li:hover span {
	display: block;
}

@-webkit-keyframes page-bg {
	0% {
		-webkit-background-size: 120% auto;
		background-size: 120% auto;
	}

	100% {
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}

@keyframes page-bg {
	0% {
		-webkit-background-size: 120% auto;
		background-size: 120% auto;
	}

	100% {
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}

@-webkit-keyframes vertical-page-bg {
	0% {
        -webkit-background-size: auto 120%;
        background-size: auto 120%;
	}
	100% {
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
	}
}

@keyframes vertical-page-bg {
	0% {
		-webkit-background-size: auto 120%;
		background-size: auto 120%;
	}
	100% {
  		-webkit-background-size: auto 100%;
  		background-size: auto 100%;
	}
}

@-webkit-keyframes horizontal-page-bg {
	0% {
        -webkit-background-size: 120% auto;
        background-size: 120% auto;
	}
	100% {
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}

@keyframes horizontal-page-bg {
	0% {
		-webkit-background-size: 120% auto;
		background-size: 120% auto;
	}
	100% {
  		-webkit-background-size: 100% auto;
  		background-size: 100% auto;
	}
}


.link-a {
	display: block;
	width: 44px;
	height: 44px;
	background: url(../images/keypoint.png) no-repeat;
	background-size:cover;
}

.link-a:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 44px;
	height: 44px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/pagebox04-link-a2.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.link-a:before {
	-webkit-animation: link-a 1s linear 0s infinite normal;
	animation: link-a 1s linear 0s infinite normal;
}

@-webkit-keyframes link-a {
	0% {
		margin-left: -12px;
		margin-top: -12px;
		width: 24px;
		height: 24px;
	}

	50% {
		opacity: .6;
	}

	100% {
		margin-left: -22px;
		margin-top: -22px;
		width: 45px;
		height: 45px;
		opacity: .2;
	}
}

@keyframes link-a {
	0% {
		margin-left: -12px;
		margin-top: -12px;
		width: 24px;
		height: 24px;
	}

	50% {
		opacity: .4;
	}

	100% {
		margin-left: -22px;
		margin-top: -22px;
		width: 45px;
		height: 45px;
		opacity: .2;
	}
}

.link-a {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/pagebox04-link-a.png) no-repeat\9;
}

.link-a:before {
	margin-left: -22px\9;
	margin-top: -22px\9;
	filter: alpha(opacity=50)\9;
	-moz-opacity: .5\9;
	opacity: .5\9;
}

#thispage {
}

#thispage .section {
	overflow: hidden;
}

.logo {
	position: fixed;
	left: 2.315789%;
	top: 2.9259259%;
	z-index: 70;
	width: 13%;
	max-width: 150px;
}
/*.logo { position: fixed; left: 44px; top: 64px; z-index: 70; width: 345px; height: 37px; background: url(https://trumpchi.gacmotor.com/ge3/pc/images/logo.png) no-repeat; }*/

.pagebox01 {
	background-image: url(../images/first.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-width: 1000px;
	min-height: 560px;
}

.big-vertical .pagebox01 {
	background-position: center 0;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
	/*.pagebox01 .pagebox01-txt { position: absolute; top: 120px; top: 11.1111%; left: 50%; margin-left: -310px; }
	.pagebox01 .pagebox01-txt01 { position: absolute; top: 40px; opacity: 0; }
	.pagebox01 .pagebox01-txt02 { position: absolute; top: 93px; opacity: 0; }
	.pagebox01 .pagebox01-txt03 { position: absolute; top: 188px; opacity: 0; }*/
.pagebox01 .pagebox01-txt {
	position: absolute;
	bottom: 74%;
	left: 0;
	width: 100%;
	text-align: center;
}

.pagebox01 .pagebox01-txt01 {
/* position: absolute; top: 40px;*/
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 36.2105263%;
	opacity: 0;
}

.pagebox01 .pagebox01-txt02 {
	position: relative;
	top: 36px;
	margin-left: auto;
	margin-right: 13%;
	width: 50%;
	max-width: 600px;
}
.pagebox01 .pagebox01-txt02.left {
	top: 20px!important;
	margin-left: 6%;
}

.pagebox01 .pagebox01-txt03 {
/* position: absolute; top: 188px;*/
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 36.2105263%;
	opacity: 0;
}

.pagebox01 .pagebox01-txt03 {
/* position: absolute; top: 188px;*/
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 36.2105263%;
	opacity: 0;
}

.pagebox01 .pagebox01-txt04 {
	position: absolute;
right: 23.68421%;
bottom: 40px;
min-width: 230px;
width: 36.315789%;
opacity: 0;
    background: url(../images/p01-btns.png) no-repeat;
    background-size: 100% auto;
    height: 40px;
}

.bottom-box {
	position: absolute;
	left: 0;
	bottom: 45px;
	width: 150px;
}

.bottom-box-box {
	margin-left: auto;
	margin-right: auto;
	max-width: 1445px;
	min-width: 1100px;
}

.bottom-box-left {
	float: left;
	margin-left: 40px;
	max-width: 439px;
 /*width: 28.368421%; */
}
.bottom-box-left img {
	height: 90px;
}
.pg0-click-item {
    display: inline-block;
    padding-left: 32%;
    height: 100%;
    padding-top: 10px;

}
.bottom-box-right {
	float: right;
	margin-right: 40px;
	height: 38px;
}/*

.bottom-box-right li {
	display: inline-block;
	background: #000;
	padding-left: 40px;*/
	/*background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_line.png) no-repeat 0 50%;*/
/*}*/

/*.bottom-box-right li a {
	display: inline-block;
	margin-top: 3px;
	width: 107px;
	height: 26px;
}*/

/*.bottom-box-right li .a1 {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a01.png) no-repeat 0 0;
}

.bottom-box-right li .a2 {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a02.png) no-repeat 0 0;
}

.bottom-box-right li .a3 {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a03.png) no-repeat 0 0;
}

.bottom-box-right li .a1:hover {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a01_hover.png) no-repeat 0 0;
}

.bottom-box-right li .a2:hover {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a02_hover.png) no-repeat 0 0;
}

.bottom-box-right li .a3:hover {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page_b_btn_a03_hover.png) no-repeat 0 0;
}*/

.bottom-pop-form {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/bottom-pop-form-bg.png);
}

.bottom-pop-form .container:before {
	content: '';
	position: absolute;
	bottom: -78px;
	right: -190px;
	display: block;
	width: 33px;
	height: 18px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/bottom-pop-form-bg2.png);
}

.bottom-pop-form .container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 550px;
}

.bottom-pop-form .pop-close {
	position: absolute;
	top: -25px;
	right: 5px;
}

.bottom-pop-form form {
	margin-left: -20px;
}

.bottom-pop-form .form-item {
	overflow: hidden;
	margin-top: 18px;
	margin-left: 20px;
}

.bottom-pop-form .form-item.has-select {
	position: relative;
	border-right: 1px solid #676768;
}

.bottom-pop-form .form-item.has-select:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 15px;
	display: block;
	width: 15px;
	height: 8px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/bottom-pop-form-select.png);
}

.bottom-pop-form [type="text"],
	.bottom-pop-form [type="button"],
	.bottom-pop-form select {
	padding: 0 15px;
	border: 1px solid #676768;
	width: 100%;
	height: 48px;
	color: #b9b9b9;
	font-size: 18px;
	background: rgba(0,0,0,0.5);
}

.bottom-pop-form select {
	width: 110%;
}

.bottom-pop-form select:not(:-internal-list-box) {
	overflow: visible !important;
}

.bottom-pop-form [type="button"] {
	color: #fff;
	border: none;
	border: 1px solid rgba(255,255,255,0.5)
	/*background: url(https://trumpchi.gacmotor.com/ge3/pc/images/bottom-pop-form-btn.png);*/
}

.isitie .pagebox01 {
	-webkit-background-size: cover;
	background-size: cover;
}

.isitie .pagebox01 .pagebox01-txt01 {
	top: 0;
}

.isitie .pagebox01 .pagebox01-txt02 {
	top: 0;
}

.isitie .pagebox01 .pagebox01-txt03 {
	top: 0;
}

.pagebox01.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}

.big-vertical .pagebox01.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}

.pagebox02 {
	background-image: url(../images/bg-p02.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.big-vertical .pagebox02 {
	background-position: 0 0;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.pagebox02 .pagebox02-txt01 {
	position: absolute;
	top: -26%;
	right: 6%;
	width: 20%;
	opacity: 0;
}

.pagebox02 .pagebox02-txt02 {
	position: absolute;
	right: 6%;
	bottom: -17.59259%;
	min-width: 250px;
	width: 28%;
	opacity: 0;
}

.isitie .pagebox02 .pagebox02-txt01 {
	right: 20.4736%;
}

.isitie .pagebox02 .pagebox02-txt02 {
	right: 25.473684%;
}

.pagebox02.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}

.big-vertical .pagebox02.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}

.pagebox03,
.pagebox10,
.pagebox11 {
	background-color: #fff;
	background-image: url(../images/bg-03.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-height: 550px;
}

/*.pagebox03-swiper01,
.pagebox06-swiper01,
.pagebox10-swiper01,
.pagebox11-swiper01

{
	position: absolute;
	left: 50%;
 bottom: 240px;
	top: 51%;
	margin-left: -561px;
	width: 90%;
}*/
	/*.pagebox03-swiper01 .swiper-container { height: 576px; }*/

.pagebox03-swiper01,
.pagebox06-swiper01,
.pagebox07-swiper01,
.pagebox10-swiper01,
.pagebox11-swiper01 {
	position: absolute;
	left: 13%;
	top: 30%;
	padding: 10px 10px 0;
	width: 74%;
}

.pagebox03-swiper01 {
	width: 56%;
	left: 22%;
	top: 24%;
}

.pagebox03-swiper01 .pop-img,
.pagebox06-swiper01 .pop-img,
.pagebox10-swiper01 .pop-img,
.pagebox11-swiper01 .pop-img{
	width:100%;
}
.pagebox03-swiper01 .swiper-container,
.pagebox06-swiper01 .swiper-container,
.pagebox10-swiper01 .swiper-container,
.pagebox11-swiper01 .swiper-container{

	height: auto  !important;
}

.pagebox03-swiper01 .swiper-container .swiper-wrapper,
.pagebox06-swiper01 .swiper-container .swiper-wrapper,
.pagebox10-swiper01 .swiper-container .swiper-wrapper,
.pagebox11-swiper01 .swiper-container .swiper-wrapper{

	height: auto  !important;
}

.pagebox03-swiper01 .swiper-container .swiper-slide,
.pagebox06-swiper01 .swiper-container .swiper-slide,
.pagebox10-swiper01 .swiper-container .swiper-slide,
.pagebox11-swiper01 .swiper-container .swiper-slide{

	height: 10px !important;
}

.pagebox03-swiper01 .swiper-container .swiper-slide-active,
.pagebox06-swiper01 .swiper-container .swiper-slide-active,
.pagebox10-swiper01 .swiper-container .swiper-slide-active,
.pagebox11-swiper01 .swiper-container .swiper-slide-active  {

	height: auto !important;
}

.pagebox03-swiper01 .arrow-left,
	.pagebox03-swiper01 .arrow-right,
	.pagebox06-swiper01 .arrow-left,
		.pagebox06-swiper01 .arrow-right,
.pagebox10-swiper01 .arrow-left,
.pagebox10-swiper01 .arrow-right {
		position: absolute;
	left: 0;
	top: 47%;
	margin-top: -44px;
	width: 63px;
	height: 35px;
	background: url(../images/arrows.png) no-repeat;
	background-size: cover;
}

.pagebox03-swiper01 .arrow-right,
.pagebox06-swiper01 .arrow-right,
.pagebox10-swiper01 .arrow-right,
.pagebox11-swiper01 .arrow-right  {
	left: auto;
	right: 0;
	background-position: right 0;
}



.pagebox03-swiper01 p,
.pagebox06-swiper01 p,
.pagebox10-swiper01 p,
.pagebox11-swiper01 p {

	margin: 0;
	padding-top: 5px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #4b4948;
}

.pagebox03-swiper01 p:before {
	/*content: '';
	display: inline-block;
	margin-right: 10px;
	width: 29px;
	height: 17px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page07_icon.jpg) no-repeat;*/
}

/*.pagebox03-swiper02,
.pagebox06-swiper02 {
	position: absolute;
	left: 0;
 bottom: 50px; 
	bottom: 3.6296296%;
	padding-left: 15px;
	padding-right: 50px;
	width: 100%;
}*/

.pagebox03-swiper02,
.pagebox06-swiper02,
.pagebox07-swiper02,
.pagebox10-swiper02,
.pagebox11-swiper02 {
	position: absolute;
	right: -120px;
	bottom: 0;
	width: 75%;
	z-index: 999;
}

.pagebox07-swiper02 {
	right: -85px;
}

.pagebox03-swiper02 {
    width: 80%;
    bottom: 0%;
    left: 10%;
}

@media screen and (min-height: 600px) {
	.pagebox03-swiper02 {
		top: 26%;
    	margin-top: 380px;
	}
}

.pagebox03-swiper02 > div,
.pagebox06-swiper02 > div,
.pagebox10-swiper02 > div,
.pagebox11-swiper02 > div {
	margin-left: 60px;
	margin-right: 60px;
}

.pagebox03-swiper02 .swiper-container,
.pagebox06-swiper02 .swiper-container,
.pagebox10-swiper02 .swiper-container,
.pagebox11-swiper02 .swiper-container  {
	overflow: visible;
}

.pagebox03-swiper02 .swiper-slide,
.pagebox06-swiper02 .swiper-slide,
.pagebox10-swiper02 .swiper-slide,
.pagebox11-swiper02 .swiper-slide  {
	position: relative;
}

.pagebox07-swiper02 .swiper-slide,
.pagebox06-swiper02 .swiper-slide,
.pagebox10-swiper02 .swiper-slide,
.pagebox11-swiper02 .swiper-slide {
	margin: 0 -10px;
}

.pagebox03-swiper02 .swiper-slide img,
.pagebox06-swiper02 .swiper-slide img,
.pagebox10-swiper02 .swiper-slide img,
.pagebox11-swiper02 .swiper-slide img{
	width: 90%;
}
.pagebox03-swiper02 .swiper-slide img {
	width: 100%;
}
.pagebox03-swiper02 .swiper-slide .img-border,
.pagebox06-swiper02 .swiper-slide .img-border,
.pagebox10-swiper02 .swiper-slide .img-border,
.pagebox11-swiper02 .swiper-slide .img-border {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.pagebox03-swiper02 .swiper-slide.current .img-border,
.pagebox06-swiper02 .swiper-slide.current .img-border,
.pagebox10-swiper02 .swiper-slide.current .img-border,
.pagebox11-swiper02 .swiper-slide.current .img-border   {
	display: block;
}

.pagebox03-swiper02 .arrow-left,
	.pagebox03-swiper02 .arrow-right,
	.pagebox06-swiper02 .arrow-left,
		.pagebox06-swiper02 .arrow-right,
.pagebox10-swiper02 .arrow-left,
.pagebox10-swiper02 .arrow-right ,
.pagebox11-swiper02 .arrow-left,
.pagebox11-swiper02 .arrow-right  {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 100;
	margin-top: -25px;
	margin-left: 40px;
	width: 49px;
	height: 49px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page03_lr2.png);
}

.pagebox03-swiper02 .arrow-right,
.pagebox06-swiper02 .arrow-right,
.pagebox10-swiper02 .arrow-right,
.pagebox11-swiper02 .arrow-right {
	left: auto;
	right: 0;
	margin-right: 40px;
	background-position: right 0;
}

.pagebox03-swiper01 .arrow-left,
.pagebox06-swiper01 .arrow-left,
.pagebox10-swiper01 .arrow-left,
.pagebox11-swiper01 .arrow-left{
	-webkit-animation: pagebox03-left 2s linear 0s infinite normal;
	animation: pagebox03-left 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox03-left {
	0% {
		left: -150px;
	}

	50% {
		left: -130px;
	}

	100% {
		left: -150px;
	}
}

@keyframes pagebox03-left {
	0% {
		left: -150px;
	}

	50% {
		left: -130px;
	}

	100% {
		left: -150px;
	}
}

.pagebox03-swiper01 .arrow-right,
.pagebox06-swiper01 .arrow-right,
.pagebox10-swiper01 .arrow-right,
.pagebox11-swiper01 .arrow-right {
	-webkit-animation: pagebox03-right 2s linear 0s infinite normal;
	animation: pagebox03-right 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox03-right {
	0% {
		right: -150px;
	}

	50% {
		right: -130px;
	}

	100% {
		right: -150px;
	}
}

@keyframes pagebox03-right {
	0% {
		right: -150px;
	}

	50% {
		right: -130px;
	}

	100% {
		right: -150px;
	}
}

.pagebox04 {
	overflow: hidden;
	background-color: #fff!important;
	background: url(../images/bg-04.png?v=2.0) no-repeat;
	background-position: center center;
	background-color: #fff;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-width: 1100px;
	min-height: 620px;
}

.big-vertical .pagebox04 {
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.pagebox04 .pagebox04-txt01 {
	position: absolute;
	left: -36.052631%;
	max-width: 437px;
	top: 14.185185%;
	width: 36.68421%;
	opacity: 0;
}
.pagebox03 .pagebox03-txt01,
.pagebox10 .pagebox10-txt01,
.pagebox11 .pagebox11-txt01{
	position: absolute;
	top: 14.185185%;
	width: 36.68421%;
		left: -46.052631%;
	max-width: 437px;
			opacity: 0;
}

.pagebox10 .pagebox10-txt01,
.pagebox11 .pagebox11-txt01{

	position: absolute;
	top: 14.185185%;
	width: 36.68421%;
	left: -47.052631%;
	max-width: 437px;
	opacity: 1;
}
.pagebox04 .pagebox04-txt02 {
	position: absolute;
	bottom: 13.24074%;
	right: 16.315789%;
	max-width: 781px;
	width: 41.05263157%;
	opacity: 0;
}

.pagebox04 .link-a-group {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.pagebox04 .link-a-group > img {
	width: 100%;
}

/*.big-vertical .pagebox04 .link-a-group {
	width: auto;
	height: 39.629629%;
}*/

.big-vertical .pagebox04 .link-a-group > img {
	display: block;
	width: auto;
	height: 100%;
}
	/*.pagebox04 .link-a-group { position: absolute; top: 258px; left: 50%; top: 50%; margin: -290px 0 0 -518px; width: 1036px; height: 428px; opacity: 0; }*/
.pagebox04 .link-a {
	position: absolute;
}

.pagebox04 .link-a01 {
	top: 77%;
	left: 68%;
}
.pagebox04 .link-a01 img {
	height: 50px;
	position: relative;
	right: 160px;
    top: 31px;
}

.pagebox04 .link-a02 {
	top: 76%;
	left: 13%;
}
.pagebox04 .link-a02 img {
	height: 50px;
	position: relative;
	top: -35px;
    left: 30px;
}

.pagebox04 .link-a03 {
	top: 53%;
	left: 55%;
}
.pagebox04 .link-a03 img {
	height: 50px;
	position: relative;
	right: 200px;
    top: 31px;
}

.pagebox04 .link-a04 {
    top: 50%;
    left: 18%;
}
.pagebox04 .link-a04 img {
	height: 50px;
	position: relative;
	top: -35px;
    left: 30px;
}

.pagebox04 .link-a05 {
	top: -2%;
	left: 85%;
}

.pagebox04 .link-a06 {
	top: 18%;
	left: 95%;
}

.isitie .pagebox04 .pagebox04-txt01 {
	left: 6.052631%;
}

.isitie .pagebox04 .pagebox04-txt02 {
	right: 6.315789%;
}

.isitie .pagebox04 .link-a-group {
	opacity: 1;
}

.pagebox04.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}

.big-vertical .pagebox04.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}

.pagebox05 {
	overflow: hidden;
	background-image: url(../images/bg-05.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.big-vertical .pagebox05 {
	background-position: 0 0;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
	/*body .pagebox05-bg {  background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page05_bg2.jpg); background-repeat: no-repeat;background-position: 50% 0; -webkit-background-size: 1920px auto; background-size: 1920px auto; }*/
.pagebox05 .pagebox05-txt01 {
	position: absolute;
	top: -8.5555555%;
	right: 6%;
	text-align: center;
	opacity: 0;
	width: 235px;
}

.pagebox05 .pagebox05-txt02 {
		position: absolute;
		bottom: -8.5555555%;
		right: 6%;
		text-align: center;
		opacity: 0;
		width: 330px;
}


/*.pagebox05 .pagebox05-txt01 > div {
	display: inline-block;
	max-width: 812px;
	min-width: 600px;
	width: 42.736842%;
}*/
	/*.pagebox05 .link-a-group { position: absolute; top: 223px; left: 50%; margin: 0 0 0 -375px; width: 750px; height: 361px; opacity: 0; }*/
.pagebox05 .link-a-group {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 54.526315%;
	opacity: 0;
}

.pagebox05 .link-a-group > img {
	width: 100%;
}

.big-vertical .pagebox05 .link-a-group {
	width: auto;
	height: 39.629629%;
}

.big-vertical .pagebox05 .link-a-group > img {
	display: block;
	width: auto;
	height: 100%;
}

.pagebox05 .link-a {
	position: absolute;
}

.pagebox05 .link-a01 {
	top: -25.5%;
	left: 21%;
}

.pagebox05 .link-a02 {
	top: 6%;
	left: 14%;
}

.pagebox05 .link-a03 {
	top: 91%;
	left: 48%;
}

.pagebox05 .link-a04 {
	top: 25%;
	left: 47.5%;
}

.pagebox05 .link-a05 {
	top: 52%;
	left: 47.5%;
}

.pagebox05 .link-a06 {
	top: 74%;
	left: 84.5%;
}

body .pagebox05-pop {
	margin: -296px 0 0 -450px;
	width: 47.368421%;
}

body .pagebox05-pop .swiper-slide p {
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
}

.pagebox05-swiper01 {
	width: 100%;
}

.pagebox05-swiper01 .swiper-container {
	height: auto  !important;
}

.pagebox05-swiper01 .swiper-container .swiper-wrapper {
	height: auto  !important;
}

.pagebox05-swiper01 .swiper-container .swiper-slide {
	height: 10px !important;
}

.pagebox05-swiper01 .swiper-container .swiper-slide-active {
	height: auto !important;
}
.swiper-wrapper {
	margin: 0 auto;
}
.pagebox05-swiper01 .arrow-left,
	.pagebox05-swiper01 .arrow-right {
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: -45px;
	width: 51px;
	height: 89px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page03_lr.png);
}

.pagebox05-swiper01 .arrow-right {
	left: auto;
	right: -100px;
	background-position: right 0;
}

.isitie .pagebox05 .pagebox05-txt01 {
	bottom: 12%;
}

.isitie .pagebox05 .link-a-group {
	opacity: 1;
}

.isitie .pagebox05 .link-a {
	position: absolute;
	width: 45px;
	height: 45px;
	background: url(../images/keypoint.png) no-repeat;
}

.pagebox05.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}

.big-vertical .pagebox05.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}

.pagebox05-swiper01 .arrow-left {
	-webkit-animation: pagebox05-left 2s linear 0s infinite normal;
	animation: pagebox05-left 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox05-left {
	0% {
		left: -100px;
	}

	50% {
		left: -120px;
	}

	100% {
		left: -100px;
	}
}

@keyframes pagebox05-left {
	0% {
		left: -100px;
	}

	50% {
		left: -120px;
	}

	100% {
		left: -100px;
	}
}

.pagebox05-swiper01 .arrow-right {
	-webkit-animation: pagebox05-right 2s linear 0s infinite normal;
	animation: pagebox05-right 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox05-right {
	0% {
		right: -100px;
	}

	50% {
		right: -120px;
	}

	100% {
		right: -100px;
	}
}

@keyframes pagebox05-right {
	0% {
		right: -100px;
	}

	50% {
		right: -120px;
	}

	100% {
		right: -100px;
	}
}

.pagebox06 {
	overflow: hidden;
	background-image: url(../images/bg-03.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-height: 550px;
}

.pagebox06 .pagebox06-txt01 {
	position: absolute;
	left: -32.894736%;
	max-width: 488px;
	top: 14.185185%;
	width: 36.68421%;
	opacity: 0;
}

.isitie .pagebox06 .pagebox06-txt01 {
	right: 22.894736%;
}

.pagebox07 .pagebox07-txt01 {
	position: absolute;
	left: -32.894736%;
	max-width: 488px;
	top: 14.185185%;
	width: 36.68421%;
	opacity: 0;
}

.isitie .pagebox07 .pagebox07-txt01 {
	right: 22.894736%;
}

.pagebox06.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}

.pagebox07 {
	overflow: hidden;
	background-image: url(../images/bg-03.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-height: 550px;
}
	/*.pagebox07-imgshow { position: absolute; left: 50%; top: 8%; margin-left: -400px; padding: 10px 10px 0; width: 47.368421%; background: #fff; }
	.pagebox07-imgshow p { margin: 0; height: 40px; line-height: 40px; font-size: 18px; text-align: center; color: #4b4948; }
	.pagebox07-imgshow p:before { content: ''; display: inline-block; margin-right: 10px; width: 29px; height: 17px; background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page07_icon.jpg) no-repeat; }
*/

/*.pagebox07-swiper01 {
	position: absolute;
	left: 50%;
 bottom: 240px;
	top: 41%;
	margin-left: -561px;
	width: 90%;
}*/
	/*.pagebox07-swiper01 .swiper-container { height: 576px; }*/

.pagebox07-swiper01 .swiper-container {
	height: auto  !important;
}

.pagebox07-swiper01 .swiper-container .swiper-wrapper {
	height: auto  !important;
}

.pagebox07-swiper01 .swiper-container .swiper-slide {
	height: 10px !important;
}

.pagebox07-swiper01 .swiper-container .swiper-slide-active {
	height: auto !important;
}

.pagebox07-swiper01 .arrow-left,
	.pagebox07-swiper01 .arrow-right {
	position: absolute;
	left: 0;
	top: 47%;
	margin-top: -44px;
	width: 51px;
	height: 89px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page03_lr.png);
}

.pagebox07-swiper01 .arrow-right {
	left: auto;
	right: 0;
	background-position: right 0;
}

.pagebox07-swiper01 p {
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #4b4948;
}

.pagebox07-swiper01 p:before {

}

.pagebox07-swiper01 .arrow-left {
	-webkit-animation: pagebox07-left1 2s linear 0s infinite normal;
	animation: pagebox07-left1 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox07-left1 {
	0% {
		left: -150px;
	}

	50% {
		left: -130px;
	}

	100% {
		left: -150px;
	}
}

@keyframes pagebox07-left1 {
	0% {
		left: -150px;
	}

	50% {
		left: -130px;
	}

	100% {
		left: -150px;
	}
}

.pagebox07-swiper01 .arrow-right {
	-webkit-animation: pagebox07-right1 2s linear 0s infinite normal;
	animation: pagebox07-right1 2s linear 0s infinite normal;
}

@-webkit-keyframes pagebox07-right1 {
	0% {
		right: -150px;
	}

	50% {
		right: -130px;
	}

	100% {
		right: -150px;
	}
}

@keyframes pagebox07-right1 {
	0% {
		right: -150px;
	}

	50% {
		right: -130px;
	}

	100% {
		right: -150px;
	}
}



.pagebox07-swiper02 > div {
	margin-left: 60px;
	margin-right: 60px;
}

.pagebox07-swiper02 .swiper-container {
	overflow: visible;
}

.pagebox07-swiper02 .swiper-slide {
	position: relative;
}

.pagebox07-swiper02 .swiper-slide img {
	width: 94%;
}

.pagebox07-swiper02 .swiper-slide .img-border {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.pagebox07-swiper02 .swiper-slide.current .img-border {
	display: block;
	width: 100%;
}

.pagebox07-swiper02 .arrow-left,
	.pagebox07-swiper02 .arrow-right {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 100;
	margin-top: -25px;
	margin-left: 40px;
	width: 49px;
	height: 49px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page03_lr2.png);
}

.pagebox07-swiper02 .arrow-right {
	left: auto;
	right: 0;
	margin-right: 40px;
	background-position: right 0;
}

	/*.pagebox07-swiper02 .arrow-left {-webkit-animation:pagebox07-left 2s linear 0s infinite normal;animation:pagebox07-left 2s linear 0s infinite normal; }
	@-webkit-keyframes pagebox07-left {
		0%{left: 10px;}
		50%{left: -10px;}
		100%{left: 10px;}
	}
	@keyframes pagebox07-left {
		0%{left: 10px;}
		50%{left: -10px;}
		100%{left: 10px;}
	}
	.pagebox07-swiper02 .arrow-right {-webkit-animation:pagebox07-right 2s linear 0s infinite normal;animation:pagebox07-right 2s linear 0s infinite normal; }
	@-webkit-keyframes pagebox07-right {
		0%{right: 10px;}
		50%{right: -10px;}
		100%{right: 10px;}
	}
	@keyframes pagebox07-right {
		0%{right: 10px;}
		50%{right: -10px;}
		100%{right: 10px;}
	}*/


.pagebox13,
.pagebox14,
.pagebox15{
	background-color: #fff;
	background-image: url(../images/bg-03.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.pagebox09 {
	background-image: url(../images/bg-03.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-color: #fff;
	min-height: 600px;
}

.pagebox08 {
	background-image: url(../images/p8-start-bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 center;
}
.big-vertical .pagebox08 {
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-position: 0 0;
}

.pagebox12 {
	background-image: url(../images/p12-bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 center;
}
.big-vertical .pagebox12 {
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-position: 0 0;
}
.big-vertical .pagebox13 {
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.big-vertical .pagebox14 {
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.big-vertical .pagebox15 {
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.pagebox08 .pagebox08-txt01 {
	position: absolute;
	top: -20%;
	right: 6%;
	width: 245px;
	opacity: 0;
}

.pagebox08 .pagebox08-txt02 {
		position: absolute;
		bottom: -20%;
		right: 6%;
		width: 315px;
		opacity: 0;
}
.pagebox13 .pagebox13-txt01,
.pagebox14 .pagebox14-txt01,
.pagebox15 .pagebox15-txt01 {
	position: absolute;
	top: 13%;
	left: -120%;
	width: 60%;
	opacity: 0;
}

.pagebox13 .pagebox13-txt02 {
	width: 80%;
	margin: 15% auto 0;
}

.pagebox14 .pagebox14-txt02 {
	width: 80%;
	margin: 15% auto 0;
}

.pagebox15 .pagebox15-txt02 {
	width: 72%;
	margin: 14% auto 0;
}

.pagebox12 .pagebox12-txt01 {
	position: absolute;
	top: -20%;
	right: 6%;
	width: 245px;
	opacity: 0;
}

.pagebox12 .pagebox12-txt02 {
	position: absolute;
	bottom: -20%;
	right: 6%;
	width: 315px;
	opacity: 0;
}

.pagebox08.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}
.pagebox12.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}


.pagebox13.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}
.pagebox14.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}
.active {
	-webkit-animation: page-bg 2s ease 0s 1 normal;
	animation: page-bg 2s ease 0s 1 normal;
}


.big-vertical .pagebox08.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}
.big-vertical .pagebox12.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}
.big-vertical .pagebox14.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}
.big-vertical .pagebox13.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}

.big-vertical .pagebox15.active {
	-webkit-animation: vertical-page-bg 2s ease 0s 1 normal;
	animation: vertical-page-bg 2s ease 0s 1 normal;
}


.pagebox18 {
	background-image: url(../images/bg-last.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.pagebox18-box img {
	width: 100%;
}
.pagebox18-box {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	background: #fff;
}

.pagebox18-head {
	position: absolute;
	z-index: 50;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 61px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page08_bg3.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.pagebox09-head li {
	position: relative;
	float: left;
	width: 20%;
	height: 73px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.pagebox09-head li.current {
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/page08_bg4.png) no-repeat 50% 100%;
}

.pagebox09-body {
	padding-top: 75px;
	background-image: url(https://trumpchi.gacmotor.com/ge3/pc/images/page08_bg2.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.pagebox09-body:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 100%;
	background: #eaeaea;
}

.pagebox09-body-item {
	position: relative;
	height: 500px;
}

.content-scrollbar {
	width: 100%;
	height: 500px;
	overflow: auto;
}

.content-scrollbar>.mCustomScrollBox>.mCSB_scrollTools {
	width: 38px;
	height: 100%;
	top: 0%;
	background: #eaeaea;
}

.mCSB_scrollTools .mCSB_draggerRail {
	display: none;
}

.content-scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 38px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #26b6b2;
}

.content-scrollbar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
	.content-scrollbar .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background: #26b6b2;
}

.f-b-btn {
	position: absolute;
	top: 100%;
	right: 0;
	width: 171px;
	height: 65px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/f-b-btn.png) no-repeat 50% 50%;
}

.table-box {
	padding: 20px 45px;
}

.table-box table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.table-box td {
	padding: 8px 15px;
	font-size: 14px;
	color: #4c4948;
}

.table-box .bgc1 td {
	color: #fff;
	background: #38a49f;
}

.table-box .bgc2 td {
	color: #fff;
	background: #4b4849;
}

.table-box .bgc3 td {
	background: #e5e5e5;
}

.td-text {
}

.td-text dt {
	float: left;
	width: 3em;
}

.td-text dd {
	overflow: hidden;
}

.win-pop-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 888;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.8);
}

.win-pop {
	visibility: hidden;
	position: absolute;
	top: -50%;
	left: 50%;
	z-index: 1000;
	margin: -300px 0 0 -325px;
	padding: 10px 10px 0;
	max-width: 762px;
	width: 60%;
}

.win-pop.win-pop-show {
	display: block;
	top: 50%;
}

.win-pop .pop-close {
	position: absolute;
	top: 0;
	right: -44px;
}

.win-pop .poptit {
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
}

.swiper-slide {
	visibility: hidden;
}

.swiper-slide.swiper-slide-visible {
	visibility: visible;
}

.pagebox03-swiper02 .swiper-slide {
	margin: 0 -7px;
}




/* ------------------------------------ */

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-box {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-box-4 {
	width: 33.333333%
}

.row-20 {
	margin-right: -10px;
	margin-left: -10px;
}

.row-20 .col-box {
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.page-play {
	background: #fff;
}

.page-play-root {
	margin: 0 auto;
	width: 1040px;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/play-bg.jpg) #e4e4e4 no-repeat 50% 0;
}

.p-head {
	height: 65px;
}

.p-logo {
	margin: 20px 0 0 20px;
}

.p-body {
	padding: 0 30px;
}

.play-btn-group {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.play-btn-group {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.p-foot {
	display: table;
	width: 100%;
	min-height: 110px;
	background: #f0f0f0;
}

.p-foot-box {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #666;
}

.load {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1600;
	width: 100%;
	height: 100%;
	background: url(https://trumpchi.gacmotor.com/ge3/pc/images/loading.gif) #1a1a1a no-repeat 50% 50%;
}

/*.pagebox06-swiper01 {
	width: 50%;
}*/

.pagebox18 table {
	color: #a3a3a3;
	text-align: left;
}
.pagebox18 table .bgc2,
.pagebox18 table .bgc1
{
	color: #fff;
	text-align: center;
}
.pagebox18 .table-wrap {
	background: #414141;
	padding: 10px;
	max-height: 550px;
	overflow-y: scroll;
	margin: 80px auto;
	width: 850px;
}
.pagebox18 .table-wrap img {
	width: 100%;
}
table td {padding: 0 5px;}
table,table tr th, table tr td { border:1px solid #a3a3a3; }
table { width: 100%; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}
.pagebox02-txt01 {
	width: 100%;
}

.pagebox02 .pagebox02-txt01 img,
.pagebox02 .pagebox02-txt02 img {
	width: 100%;
}


.masker {
	position: absolute;
	/* top: -1px; */
	left: 5%;
	 height: 100%;
	width: 95%;
	display: block;
}
.current .masker {
	display: none;
}



.swiper-slide-text img {
	height: 28px;
	margin-top: 6px;
}